div[role="range-slider-with-indicator"] {
 --marks-text-color: black;
 --marks-text-size: .7rem;
 --marks-stop-bg-color: gray;
 --marks-stop-height: 20%;
 --thumb-bg-color: lightgray;
 --thumb-border-color: black;
 --runnable-track-bg-color: gray;
 --completed-track-bg-color: black;
}
div[role="range-slider-with-indicator"] > .indicator {
width: 100%;
height: 50%;
position: relative;
}
div[role="range-slider-with-indicator"] > .indicator > .marks{
  height: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
div[role="range-slider-with-indicator"] > .indicator > .marks-text{
 font-size: var(--marks-text-size);
 position: absolute;
 color: var(--marks-text-color);

}
div[role="range-slider-with-indicator"] > .indicator > .marks-stop{
  background-color: var(--marks-stop-bg-color);
  width: 2px;
  height: var(--marks-stop-height);
  content: '';
  position: absolute;
bottom: 0;
}
div[role="range-slider-with-indicator"] > .slider {
width: 100%;
height: 50%;
}
div[role="range-slider-with-indicator"] > .slider > .runnable-track {
width: 100%;
height: 50%;
display: flex;
align-items: center;
background-color: var(--runnable-track-bg-color);
border-radius: 20px;
position: relative;
}
div[role="range-slider-with-indicator"] > .slider > .runnable-track:is(:hover,:active) {
 filter: brightness(.8);
}
div[role="range-slider-with-indicator"] > .slider > .runnable-track:is(:hover,:active) > .thumb{
    filter: brightness(1.2);
   }
div[role="range-slider-with-indicator"] > .slider > .runnable-track >.completed-track {
 width: 0px;
 height: 100%;
 background-color: var(--completed-track-bg-color);
 border-radius: 20px;
}

div[role="range-slider-with-indicator"] > .slider > .runnable-track > .thumb {
width: .7rem;
height: 1.5rem;
background-color: var(--thumb-bg-color);
border:  3px solid var(--thumb-border-color);
cursor: grab;
touch-action: none;
border-radius: 10px;
position: absolute;
}
